{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ assessment.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}" class='active'>Assessments</a></li>
        <li><a href="{% url 'webgui_media-list' %}">Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui_task-list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>

        <form action="{% url 'webgui_assessment-chart' assessment.id %}" method="post">
            {% csrf_token %}
        <li>
            <div class="form-group">
                <label for="metrics">Select metrics: </label>
                <select class="form-control selectpicker show-tick " name="metrics" id="metrics" data-container="body" data-width="150px" multiple required>
                    {% for metric in metric_list %}
                    <option value='{{ metric.id }}'{% if metric.id in chart_config.metrics %} selected{% endif %}>{{ metric.name }}</option>
                    {% endfor %}  
                </select>
            </div>
        </li>
        <li>
            <div class="form-group">
                <label for="value_type">Display: </label>
                <select class="form-control selectpicker show-tick" name="value_type" id="value_type" data-container="body" data-width="150px" required>
                    <option value='average' {% if chart_config.value_type == 'average' %} selected{% endif %}>Average values</option>
                    <option value='all_frames' {% if chart_config.value_type == 'all_frames' %} selected{% endif %}>All frames</option>
                </select>
            </div>
        </li>
        <li>
        <div class="form-group">
            <label for="group_by">Group by: </label>
            <select class="form-control selectpicker show-tick" name="group_by" id="group_by" data-container="body" data-width="150px" required>
                <option value='encoded_variant' data-all-frames-available="True" {% if chart_config.group_by == 'encoded_variant' %} selected{% endif %}>Encoded variant</option>
                <option value='definition' data-all-frames-available="False" {% if chart_config.group_by == 'definition' %} selected{% endif %}>Definition</option>
            </select>
        </div>
    </li>

    <li><button type="submit" class="btn btn-link"><i class='fa fa-refresh'></i> <b>Refresh chart</b></button></li>

        </form>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Project:</span> {{ assessment.name }}</h4>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class='fa fa-line-chart'></i> Generated chart</h3>
    </div>
    <div class="panel-body">
        <div id="chart"></div>
    </div>
</div>
{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'bower_components/plotly.js/dist/plotly.min.js' %}"></script>
    <script>
        $('.selectpicker').selectpicker({
          style: 'btn-xs',
        });

        function refresh_form() {

            // Check Value Type select
            if(document.getElementById('value_type').value == 'all_frames') {
                $('select#group_by option').each(function(e) {
                    if($(this).data('all-frames-available') == "False"){ 
                        $(this).prop('disabled',true);
                        $(this).prop('selected', false);                        
                    }
                    else {
                        $(this).prop('disabled', false);
                    }
                });
            }
            else {
                $('select#group_by option').prop('disabled', false);
            }
            

            // Check Metric select
            if(!document.getElementById('metrics').value) {
                $('select#value_type').prop('disabled', true);
                $('select#group_by').prop('disabled', true);
            }
            else {
                $('select#value_type').prop('disabled', false);
                $('select#group_by').prop('disabled', false);
            }

            $('.selectpicker').selectpicker('refresh');
        } 

        window.onload = refresh_form;
        $('select#value_type').on('change', function (e) {
            refresh_form()
        });
        $('select#metrics').on('change', function (e) {
            refresh_form()
        });
    </script>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>

    var getcolor = function (num) {
        if (num%6 == 0)
            return "#F7464A";
        else if (num%6 == 1)
            return "#46BFBD";
        else if (num%6 == 2)
            return "#FDB45C";
        else if (num%6 == 3)
            return "#4674bf";
        else if (num%6 == 4)
            return "#949FB1";
        else if (num%6 == 5)
            return "#4D5360";
    };
    var gethighlight = function (num) {
        if (num%6 == 0)
            return "#FF5A5E";
        else if (num%6 == 1)
            return "#5AD3D1";
        else if (num%6 == 2)
            return "#FFC870";
        else if (num%6 == 3)
            return "#5a79d3";
        else if (num%6 == 4)
            return "#A8B3C5";
        else if (num%6 == 5)
            return "#616774";
    };
    var getfill = function (num) {
        if (num%6 == 0)
            return "rgba(255,90,94,0.08)";
        else if (num%6 == 1)
            return "rgba(90,211,209,0.08)";
        else if (num%6 == 2)
            return "rgba(255,200,112,0.08)";
        else if (num%6 == 3)
            return "rgba(90,121,211,0.08)";
        else if (num%6 == 4)
            return "rgba(168,179,197,0.08)";
        else if (num%6 == 5)
            return "rgba(97,103,116,0.08)";
    };

</script>

<script>
    {% if chart_config.value_type == 'average' %}

    {% if chart_config.group_by == 'encoded_variant' %} 
    {% for metric in metric_list %}
    {% if metric.id in chart_config.metrics %}
    var dataset_{{ metric.name }} = {
      x: [{% for encoded_media in assessment.encoded_media_list.all %}'{{ encoded_media.name }}',{% endfor %}], 
      y: [
        {%for encoded_media in assessment.encoded_media_list.all %}
              {% get_assessment_media_metric_average assessment encoded_media metric as average_score %}
              {% if average_score is None %}
                  0,
              {% else %}
                  {{ average_score }},
              {% endif %}
          {% endfor %}
        ], 
      name: '{{ metric.name }}',
      marker: {color: getcolor({{ metric.id|add:2 }})}, 
      opacity: 0.8,
      {% if metric.name == 'SSIM' %}
        yaxis: 'y2',
      {% endif %}  
      type: 'bar'
    };
    
    {% endif %}
    {% endfor %}

    var data = [
        {% for metric in metric_list %}
            {% if metric.id in chart_config.metrics %}
                dataset_{{ metric.name }},
            {% endif %}
        {% endfor %} 
    ];


    {% elif chart_config.group_by == 'definition' %} 

    {% for definition in assessment.get_definition_list %}
    {% with forloop.counter as definition_id %}
    {% for metric in metric_list %}
    {% if metric.id in chart_config.metrics %}
    var dataset_{{ definition }}_{{ metric.name }} = {
      x: [{% for bitrate in assessment.get_bitrate_list %}'{{ bitrate }}',{% endfor %}], 
      y: [
        {% for bitrate in assessment.get_bitrate_list %}
              {% get_assessment_definition_bitrate_metric_average assessment definition bitrate metric as average_score %}
                {{ average_score }},
          {% endfor %}
        ], 
      name: '[{{ metric.name }}] {{ definition }}', 
      marker: {color: getcolor({{definition_id}})},
      opacity: 0.8,
      {% if metric.name == 'SSIM' %}
        yaxis: 'y2',
      {% endif %} 
      type: 'scatter',
      mode: 'lines+markers',
      line: {shape: 'spline'},
      connectgaps: true,
    };
    {% endif %}
    {% endfor %}
    {% endwith %}
    {% endfor %}

    var data = [
        {% for definition in assessment.get_definition_list %}
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}
            dataset_{{ definition }}_{{metric.name}},
        {% endif %} 
        {% endfor %} 
        {% endfor %} 
    ];

    {% endif%}


    var layout = {
        barmode: 'group',
        bargap: 0.1,
        yaxis: {
            title: 'PSNR',
            side: 'left',
            range: [0,100],
        },
        yaxis2: {
          title: 'SSIM',
          overlaying: 'y',
          side: 'right',
          range: [0,1],
        } 
    };
    Plotly.newPlot('chart', data, layout);

    {% endif %}
</script>

{% endblock %}

