{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ assessment.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}" class='active'>Assessments</a></li>
        <li><a href="{% url 'webgui_media-list' %}">Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui_task-list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>

        <form action="{% url 'webgui_assessment-chart' assessment.id %}" method="post">
            {% csrf_token %}
        <li>
            <div class="form-group">
                <label for="metrics">Select metrics: </label>
                <select class="form-control selectpicker show-tick " name="metrics" id="metrics" data-container="body" data-width="150px" multiple required>
                    {% for metric in metric_list %}
                    <option value='{{ metric.id }}'{% if metric.id in chart_config.metrics %} selected{% endif %}>{{ metric.name }}</option>
                    {% endfor %}  
                </select>
            </div>
        </li>
        <li>
            <div class="form-group">
                <label for="value_type">Display: </label>
                <select class="form-control selectpicker show-tick" name="value_type" id="value_type" data-container="body" data-width="150px" required>
                    <option value='average' {% if chart_config.value_type == 'average' %} selected{% endif %}>Average values</option>
                    <option value='all_frames' {% if chart_config.value_type == 'all_frames' %} selected{% endif %}>All frames</option>
                </select>
            </div>
        </li>
        <li>
        <div class="form-group">
            <label for="group_by">Group by: </label>
            <select class="form-control selectpicker show-tick" name="group_by" id="group_by" data-container="body" data-width="150px" required>
                <option value='encoded_variant' data-all-frames-available="True" {% if chart_config.group_by == 'encoded_variant' %} selected{% endif %}>Encoded variant</option>
                <option value='definition' data-all-frames-available="False" {% if chart_config.group_by == 'definition' %} selected{% endif %}>Definition</option>
                <option value='encoding_provider' data-all-frames-available="False" {% if chart_config.group_by == 'encoding_provider' %} selected{% endif %}>Encoding provider</option>
            </select>
        </div>
    </li>

    <li><button type="submit" class="btn btn-link"><i class='fa fa-refresh'></i> <b>Refresh chart</b></button></li>

        </form>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Project:</span> {{ assessment.name }}</h4>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class='fa fa-line-chart'></i> Generated chart</h3>
    </div>
    <div class="panel-body">
        <div id="chart" style='min-height:600px;'></div>
    </div>
</div>
{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bower_components/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'bower_components/highcharts/modules/exporting.js' %}"></script>
    <script>
        $('.selectpicker').selectpicker({
          style: 'btn-xs',
        });

        function refresh_form() {

            // Check Value Type select
            if(document.getElementById('value_type').value == 'all_frames') {
                $('select#group_by option').each(function(e) {
                    if($(this).data('all-frames-available') == "False"){ 
                        $(this).prop('disabled',true);
                        $(this).prop('selected', false);                        
                    }
                    else {
                        $(this).prop('disabled', false);
                    }
                });
            }
            else {
                $('select#group_by option').prop('disabled', false);
            }
            

            // Check Metric select
            if(!document.getElementById('metrics').value) {
                $('select#value_type').prop('disabled', true);
                $('select#group_by').prop('disabled', true);
            }
            else {
                $('select#value_type').prop('disabled', false);
                $('select#group_by').prop('disabled', false);
            }

            $('.selectpicker').selectpicker('refresh');
        } 

        window.onload = refresh_form;
        $('select#value_type').on('change', function (e) {
            refresh_form()
        });
        $('select#metrics').on('change', function (e) {
            refresh_form()
        });
    </script>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>
    var getcolor = function (num) {
        if (num%6 == 0)
            return "#F7464A";
        else if (num%6 == 1)
            return "#46BFBD";
        else if (num%6 == 2)
            return "#FDB45C";
        else if (num%6 == 3)
            return "#4674bf";
        else if (num%6 == 4)
            return "#949FB1";
        else if (num%6 == 5)
            return "#4D5360";
    };
</script>

<script>
    {% if chart_config.value_type == 'average' %}

    {% if chart_config.group_by == 'encoded_variant' %} 
    Highcharts.chart('chart', {
        chart: {
            type: 'column',
        },
        title: {
            text: null
        },
        xAxis: {
            categories: [{% for encoded_media in assessment.encoded_media_list.all %}
            '<b><a href="{% url 'webgui_media-read' encoded_media.id %}">{{ encoded_media.name }}</a></b><br>{{ encoded_media.encoding_provider.name }}<br>{{encoded_media.video_codec}}<br>{{encoded_media.get_definition}}<br>{{encoded_media.average_bitrate|human_bitrate}}<br>',
            {% endfor %}],
            crosshair: true
        },
        yAxis: [
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}
        {
            title: {
                text: '{{ metric.name }}'
            },
            min:0,
            {% if metric.name == 'SSIM' %}
            max:1,
            opposite: true
            {% endif %}
        },
        {% endif %}
        {% endfor %}
        ],
        tooltip: {
            formatter: function () {
                var s = '<span style="font-size:14px"><b>'+this.x.split("<br>")[0]+'</b></span><table>';
                $.each(this.points, function () {
                    s += '<tr style="color:' + this.series.color + ';"><td style="padding:0;">' + this.series.name + '</td><td style="padding:0">&nbsp;&nbsp;&nbsp;&nbsp;<b>' + this.y + '</b></td></tr>';
                });
                s += '</table>'
                return s;
            },
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [
        {% with 0 as metric_count %}
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}   
        {
            name: '{{metric.name}}',
            color: getcolor({{metric.id|add:2}}),
            yAxis: {{ metric_count }},
            data: [
                {% for encoded_media in assessment.encoded_media_list.all %}
                    {% get_assessment_media_metric_average assessment encoded_media metric as average_score %}
                    {% if average_score is None %}
                        null,
                    {% else %}
                        {{ average_score }},
                    {% endif %}
                {% endfor %}
            ]
        },
        {% increment metric_count as metric_count %}
        {% endif %}
        {% endfor %}
        {% endwith %}
        ]
    });
    
    {% elif chart_config.group_by == 'definition' %} 
    Highcharts.chart('chart', {
        chart: {
            type: 'spline',
            zoomType: 'x',
            panning: true,
            panKey: 'shift'
        },
        title: {
            text: null
        },
        xAxis: {
            title: {
                text: 'Bitrate (bps)'
            },
        },
        yAxis: [
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}
        {
            title: {
                text: '{{ metric.name }}'
            },
            min:0,
            {% if metric.name == 'SSIM' %}
            max:1,
            opposite: true
            {% endif %}
        },
        {% endif %}
        {% endfor %}
        ],
        tooltip: {
            formatter: function () {
                var s = '<span style="font-size:11px"><b>'+this.point.name+'</b></span><table>';
                s += '<tr style="color:' + this.series.color + ';font-size:12px;"><td style="padding:0;">' + this.series.name.split("]")[1] + '</td><td style="padding:0">&nbsp;&nbsp;&nbsp;&nbsp;'+this.series.yAxis.axisTitle.textStr+'&nbsp;&nbsp;&nbsp;&nbsp;<b>' + this.y + '</b></td></tr>';
                s += '</table>'
                return s;
            },
            shared: false,
            useHTML: true
        },
        legend: {
            layout: 'vertical',
        },
        series: [
        {% for definition in assessment.get_definition_list %}  
        {% with 0 as metric_count %}
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %} 
        {
            name: '[{{metric.name}}] {{ definition }}',
            color: getcolor({{ definition|slice:':2' }}),
            yAxis: {{ metric_count }},
            {% if metric.name == 'PSNR' %}
            marker:{
                symbol: 'square'
            },
            {% elif metric.name == 'SSIM' %}
            marker:{
                symbol: 'circle'
            },
            {% endif %}
            data: [
                {% for encoded_media in assessment.encoded_media_list.all %}
                    {% if encoded_media.get_definition == definition %}
                        {% get_assessment_media_metric_average assessment encoded_media metric as average_score %}
                        {% if average_score is None %}
                            null,
                        {% else %}
                        {x:{{encoded_media.average_bitrate}}, y:{{ average_score }}, name:'{{encoded_media.name}}{% if encoded_media.encoding_provider %} ({{encoded_media.encoding_provider.name}}){% endif %} - {{encoded_media.average_bitrate|human_bitrate}}'},
                        {% endif%}
                    {% endif %}
                {% endfor %}
            ]
        },
        {% increment metric_count as metric_count %}
        {% endif %}
        {% endfor %}
        {% endwith %}
        {% endfor %}
        ]
    });

    {% elif chart_config.group_by == 'encoding_provider' %} 
    Highcharts.chart('chart', {
        chart: {
            type: 'column',
        },
        title: {
            text: null
        },
        xAxis: {
            categories: [{% for encoding_provider in assessment.get_encoding_provider_list %}
            '{% if encoding_provider %}{{ encoding_provider.name }}{% else %}Undefined{% endif %}',
            {% endfor %}],
            crosshair: true
        },
        yAxis: [
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}
        {
            title: {
                text: '{{ metric.name }}'
            },
            min:0,
            {% if metric.name == 'SSIM' %}
            max:1,
            opposite: true
            {% endif %}
        },
        {% endif %}
        {% endfor %}
        ],
        tooltip: {
            formatter: function () {
                var s = '<span style="font-size:14px"><b>'+this.x.split("<br>")[0]+'</b></span><table>';
                $.each(this.points, function () {
                    s += '<tr style="color:' + this.series.color + ';"><td style="padding:0;">' + this.series.name.split("]")[1] + '</td><td style="padding:0">&nbsp;&nbsp;&nbsp;&nbsp;'+this.series.yAxis.axisTitle.textStr+'&nbsp;&nbsp;&nbsp;&nbsp;<b>' + this.y + '</b></td></tr>';
                });
                s += '</table>'
                return s;
            },
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        legend: {
            layout: 'vertical',
        },
        series: [
        {% for encoded_media in assessment.encoded_media_list.all %}
        {% with 0 as metric_count %}
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}   
        {
            name: '[{{metric.name}}] {{encoded_media.name}}',
            color: getcolor({{encoded_media.id}}),
            yAxis: {{ metric_count }},
            data: [
                {% for encoding_provider in assessment.get_encoding_provider_list %}
                    {% if encoded_media.encoding_provider == encoding_provider %}
                    {% get_assessment_media_metric_average assessment encoded_media metric as average_score %}
                    {% if average_score %}
                        {{ average_score }},
                    {% endif %}
                    {% else %}
                        null,
                    {% endif %}
                {% endfor %}
            ]
        },
        {% increment metric_count as metric_count %}
        {% endif %}
        {% endfor %}
        {% endwith %}
        {% endfor %}                        
        ]
    });

    {% endif%}


    {% elif chart_config.value_type == 'all_frames' %}

    {% if chart_config.group_by == 'encoded_variant' %} 

    function convertTimeCodeToSeconds(timeString)
    {
      var timeArray = timeString.split(":");
      var hours   = parseInt(timeArray[0]) * 60 * 60;
      var minutes = parseInt(timeArray[1]) * 60;
      var seconds = parseInt(timeArray[2].split(".")[0]);
      var totalTime = hours + minutes + seconds;
      return totalTime;
    }

    var get_thumbnail = function (timecode) {
        var base_url = '{{ assessment.reference_media.get_thumbnail_url }}';
        if(base_url != 'None'){
            var thumb_url = base_url.replace("00001.jpg", ("00000" + convertTimeCodeToSeconds(timecode)).slice(-5)+".jpg").replace("00000.jpg", "00001.jpg");
            return '<div style="min-width:255px;width:100%;height:150px;background:black;overflow:hidden;text-align:center;"><img src="' + thumb_url + '" alt="" style="width:100%;"/></div>';
        } else {
            return '';
        }
    }

    Highcharts.chart('chart', {
        chart: {
            type: 'line',
            zoomType: 'x',
            panning: true,
            panKey: 'shift'
        },
        title: {
            text: null
        },
        xAxis: {
            categories: {% autoescape off %}{{ assessment.get_all_frames_labels }}{% endautoescape %},
        },
        yAxis: [
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}
        {
            title: {
                text: '{{ metric.name }}'
            },
            min:0,
            {% if metric.name == 'SSIM' %}
            max:1,
            opposite: true
            {% endif %}
        },
        {% endif %}
        {% endfor %}
        ],
        tooltip: {
            formatter: function () {
                var s = get_thumbnail(this.x) + '<span style="font-size:14px"><b>'+this.x+'</b></span><table>';
                $.each(this.points, function () {
                    s += '<tr style="color:' + this.series.color + ';"><td style="padding:0;">' + this.series.name.split("]")[1] + '</td><td style="padding:0">&nbsp;&nbsp;&nbsp;&nbsp;'+this.series.yAxis.axisTitle.textStr+'&nbsp;&nbsp;&nbsp;&nbsp;<b>' + this.y + '</b></td></tr>';
                });
                s += '</table>'
                return s;
            },
            shared: true,
            useHTML: true
        },
        legend: {
            layout: 'vertical',
        },
        series: [
        {% for encoded_media in assessment.encoded_media_list.all %}
        {% with 0 as metric_count %}
        {% for metric in metric_list %}
        {% if metric.id in chart_config.metrics %}   
        {
            name: '[{{metric.name}}] {{encoded_media.name}}',
            color: getcolor({{encoded_media.id}}),
            yAxis: {{ metric_count }},
            {% if metric.name == 'PSNR' %}
            marker:{
                symbol: 'square'
            },
            {% elif metric.name == 'SSIM' %}
            marker:{
                symbol: 'circle'
            },
            {% endif %}
            {% get_assessment_media_metric_data assessment encoded_media metric as chart_data %}
            data: {% autoescape off %}{{ chart_data }}{% endautoescape %}
        },
        {% increment metric_count as metric_count %}
        {% endif %}
        {% endfor%}
        {% endwith %}
        {% endfor %}
        ]
    });
    {% endif %}

    {% endif %}
</script>

{% endblock %}

