{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ assessment.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}" class='active'>Assessments</a></li>
        <li><a href="{% url 'webgui_media-list' %}">Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui_task-list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>

        <form action="{% url 'webgui_assessment-chart' assessment.id %}" method="post">
            {% csrf_token %}
        <li>
            <div class="form-group">
                <label for="metrics">Select metrics: </label>
                <select class="form-control selectpicker show-tick " name="metrics" id="metrics" data-container="body" data-width="150px" multiple required>
                    {% for metric in metric_list %}
                    <option value='{{ metric.id }}'{% if metric.id in chart_config.metrics %} selected{% endif %}>{{ metric.name }}</option>
                    {% endfor %}  
                </select>
            </div>
        </li>
        <li>
            <div class="form-group">
                <label for="value_type">Display: </label>
                <select class="form-control selectpicker show-tick" name="value_type" id="value_type" data-container="body" data-width="150px" required>
                    <option value='average' {% if chart_config.value_type == 'average' %} selected{% endif %}>Average values</option>
                    <option value='all_frames' {% if chart_config.value_type == 'all_frames' %} selected{% endif %}>All frames</option>
                </select>
            </div>
        </li>
        <li>
        <div class="form-group">
            <label for="group_by">Group by: </label>
            <select class="form-control selectpicker show-tick" name="group_by" id="group_by" data-container="body" data-width="150px" required>
                <option value='metric' data-all-frames-available="False" {% if chart_config.group_by == 'metric' %} selected{% endif %}>Metric</option>
                <option value='definition' data-all-frames-available="False" {% if chart_config.group_by == 'definition' %} selected{% endif %}>Definition</option>
                <option value='codec' data-all-frames-available="False" {% if chart_config.group_by == 'codec' %} selected{% endif %}>Video codec</option>
                <option value='encoding_provider' data-all-frames-available="False" {% if chart_config.group_by == 'encoding_provider' %} selected{% endif %}>Encoding provider</option>
                <option value='encoded_variant' data-all-frames-available="True" {% if chart_config.group_by == 'encoded_variant' %} selected{% endif %}>Encoded variant</option>
            </select>
        </div>
    </li>

    <li><button type="submit" class="btn btn-link"><i class='fa fa-refresh'></i> <b>Refresh chart</b></button></li>

        </form>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Project:</span> {{ assessment.name }}</h4>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class='fa fa-line-chart'></i> Generated chart</h3>
    </div>
    <div class="panel-body">
        <canvas id="chart" style='min-width:100%;max-width:100%;min-height:450px;max-height:450px;'></canvas>
    </div>
</div>
{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
    <script>
        $('.selectpicker').selectpicker({
          style: 'btn-xs',
        });

        function refresh_form() {

            // Check Value Type select
            if(document.getElementById('value_type').value == 'all_frames') {
                $('select#group_by option').each(function(e) {
                    if($(this).data('all-frames-available') == "False"){ 
                        $(this).prop('disabled',true);
                        $(this).prop('selected', false);                        
                    }
                    else {
                        $(this).prop('disabled', false);
                    }
                });
            }
            else {
                $('select#group_by option').prop('disabled', false);
            }
            

            // Check Metric select
            if(!document.getElementById('metrics').value) {
                $('select#value_type').prop('disabled', true);
                $('select#group_by').prop('disabled', true);
            }
            else {
                $('select#value_type').prop('disabled', false);
                $('select#group_by').prop('disabled', false);
            }

            $('.selectpicker').selectpicker('refresh');
        } 

        window.onload = refresh_form;
        $('select#value_type').on('change', function (e) {
            refresh_form()
        });
        $('select#metrics').on('change', function (e) {
            refresh_form()
        });
    </script>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>

    var getcolor = function (num) {
        if (num%6 == 0)
            return "#F7464A";
        else if (num%6 == 1)
            return "#46BFBD";
        else if (num%6 == 2)
            return "#FDB45C";
        else if (num%6 == 3)
            return "#4674bf";
        else if (num%6 == 4)
            return "#949FB1";
        else if (num%6 == 5)
            return "#4D5360";
    };
    var gethighlight = function (num) {
        if (num%6 == 0)
            return "#FF5A5E";
        else if (num%6 == 1)
            return "#5AD3D1";
        else if (num%6 == 2)
            return "#FFC870";
        else if (num%6 == 3)
            return "#5a79d3";
        else if (num%6 == 4)
            return "#A8B3C5";
        else if (num%6 == 5)
            return "#616774";
    };
    var getfill = function (num) {
        if (num%6 == 0)
            return "rgba(255,90,94,0.08)";
        else if (num%6 == 1)
            return "rgba(90,211,209,0.08)";
        else if (num%6 == 2)
            return "rgba(255,200,112,0.08)";
        else if (num%6 == 3)
            return "rgba(90,121,211,0.08)";
        else if (num%6 == 4)
            return "rgba(168,179,197,0.08)";
        else if (num%6 == 5)
            return "rgba(97,103,116,0.08)";
    };


    
    var chartCtx = document.getElementById("chart");


    {% if chart_config.value_type == 'average' %}
    var chart = new Chart(chartCtx, {
        type: 'bar',


        {% if chart_config.group_by == 'metric' %} 
        data: {
            labels: [{% for encoded_media in assessment.encoded_media_list.all %}'{{ encoded_media.name }}',{% endfor %}],
            datasets: [
            {% for metric in metric_list %}
            {% if metric.id in chart_config.metrics %}
            {
                label: '{{ metric.name }}',
                yAxisID: "{{ metric.name }}",
                backgroundColor: getcolor({{ metric.id }}),
                data: [
                {% for encoded_media in assessment.encoded_media_list.all %}
                    {% get_assessment_media_metric_average assessment encoded_media metric as average_score %}
                    {% if average_score is None %}
                        0,
                    {% else %}
                        {{ average_score }},
                    {% endif %}
                {% endfor %}
                ]
            },
            {% endif %}
            {% endfor %}
            ]
        },



        {% elif chart_config.group_by == 'definition' %} 
        data: {
            labels: [{% for definition in assessment.get_definition_list %}'{{ definition }}',{% endfor %}],
            datasets: [
            {% for metric in metric_list %}
            {% if metric.id in chart_config.metrics %}
            {
                label: '{{ metric.name }}',
                yAxisID: "{{ metric.name }}",
                backgroundColor: getcolor({{ metric.id }}),
                data: [
                {% for definition in assessment.get_definition_list %}
                        2,
                {% endfor %}
                ]
            },
            {% endif %}
            {% endfor %}
            ]
        },
        {% endif %}


        options: {
            responsive:true,
            maintainAspectRatio: false,
            tooltips: {
                mode: 'index',
                position: 'average',
                intersect: false
            },
            scales: {
                yAxes: [
                    {% for metric in metric_list %}
                    {% if metric.id in chart_config.metrics %}
                    {
                        type: "linear", 
                        display: true,
                        {% if metric.id|divisibleby:2 %}
                        position: "left",
                        {% else %}
                        position: "right",
                        {% endif %}
                        id: "{{ metric.name }}",
                        scaleLabel: {
                            display: true,
                            labelString: '{{ metric.name }}'
                        },
                        {% if metric.name == "SSIM" %}
                        ticks: {
                            max: 1,
                            min: 0
                        },
                        {% elif metric.name == "PSNR" %}
                        ticks: {
                            min: 0
                        },
                        {% endif %}
                    },
                    {% endif %}
                    {% endfor %}
                ],
            },
            animation: {
                duration: 0, // general animation time
            },
            hover: {
                animationDuration: 250, // duration of animations when hovering an item
            },
            responsiveAnimationDuration: 0, // animation duration after a resize
        }
    });
    {% endif %}

    
</script>
{% endblock %}

