{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Assessments{% endblock %}

{% block nav %}
<ul>
    <li><a href="{% url 'webgui_assessment-list' %}" class='active'>Assessments</a></li>
    <li><a href="">Media</a></li>
    <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
    <li><a href="">Tasks</a></li>
</ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href="{% url 'webgui_assessment-create' %}"><i class='fa fa-plus'></i> New</a></li>
    </ul>
{% endblock %}

{% block content %}      
{% if assessment_list %}
    <table class='table datatable table-striped table-hover table-condensed' data-page-length='50'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th class='text-right'>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for assessment in assessment_list %}
        <tr>
            <td>
                <a href="{% url 'webgui_assessment-read' assessment.id %}"><b>{{ assessment.name }}</b></a>
            </td>
            <td>
                {% if assessment.description %}
                    {{ assessment.description }}
                {% endif %}
            </td> 
            <td class='text-right'>
                <ul class='actions'>
                    <li><a href="{% url 'webgui_assessment-read'  assessment.id %}"><i class='fa fa-eye'></i> View</a></li>
                    <li><a href="{% url 'webgui_assessment-update' assessment.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
                    <li><a href="{% url 'webgui_assessment-delete' assessment.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="assessments">
    <!-- class="search" automagically makes an input a search field. -->
    <input class="search" placeholder="Search" />
    <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
    <button class="sort" data-sort="name">Sort by name</button>
    <button class="sort" data-sort="id">Sort by id</button>
  <ul class="list">
    {% for assessment in assessment_list %}
        <li>
                <span class='id'>{{ assessment.id }}</span> 
                <a href="{% url 'webgui_assessment-read' assessment.id %}" class="name"><b>{{ assessment.name }}</b></a>
        </li>
    {% endfor %}
</ul>
</div>

{% else %}
    <p>No assessment project to display.</p>
{% endif %}
{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/list.js/dist/list.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.datatable').DataTable();
        }); 


        var options = {
            valueNames: [ 'name', 'id' ]
        };
        var assessmentList = new List('assessments', options);

    </script>
{% endblock %}