{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ assessment.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}" class='active'>Assessments</a></li>
        <li><a href="">Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
        <li><a href="{% url 'webgui_assessment-update' assessment.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
        <li><a href="{% url 'webgui_assessment-delete' assessment.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Project:</span> {{ assessment.name }}</h4>

<table class='table'>
    <tbody>
        <tr>
            <td>Description</td>
            <td>{{ assessment.description }}</td>
        </tr>
        {% if assessment.encoded_media_list.count > 0 %}
        <tr>
            <td colspan='2'>
                <form action="{% url 'worker:task_create' %}" method="post">
                {% csrf_token %}
                    <input type='hidden' name='assessment_id' value='{{ assessment.id }}'/>
                    <input type='hidden' name='reference_media_id' value='{{ assessment.reference_media.id }}'/>
                    <table class='table table-hover table-condensed table-bordered'>
                        <thead>
                            <tr class='active'>
                                <th colspan='2'>
                                    {% if assessment.reference_media != None %}
                                    Reference: <a href="{% url 'webgui_media-read' assessment.reference_media.id %}">{{ assessment.reference_media.name }}</a>
                                    {% else %}
                                    <i><a href="{% url 'webgui_assessment-update' assessment.id %}"><i class='fa fa-pencil'></i> Edit assessment to set a reference media file</a></i>
                                    {% endif %}
                                </th>
                                <td class='text-center'>
                                    {% if  assessment.reference_media.video_codec %}
                                    {{  assessment.reference_media.video_codec }}
                                    {% else %}
                                    <i>Codec</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if  assessment.reference_media.width and  assessment.reference_media.height %}
                                    {{  assessment.reference_media.width }}x{{  assessment.reference_media.height }}
                                    {% else %}
                                    <i>Definition</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if  assessment.reference_media.average_bitrate %}
                                    {{  assessment.reference_media.average_bitrate }}
                                    {% else %}
                                    <i>Bitrate</i>
                                    {% endif %}
                                </td>
                                {% if metric_list.count > 0 %}
                                {% for metric in metric_list %}
                                <th class='text-center'>{{ metric.name }}</th>
                                {% endfor %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='info'>
                                <th colspan='5'>
                                    Encoded versions
                                </th>
                                {% if metric_list.count > 0 %}
                                {% for metric in metric_list %}
                                <th class='text-center'>
                                    <input type="checkbox" class='select-all' name='{{ metric.name }}-select-all' id='{{ metric.name }}-select-all' data-metric="{{ metric.name }}"{% if assessment.reference_media is None %} disabled{% endif %}>
                                </th>
                                {% endfor %}
                                {% endif %}
                            </tr>
                            {% for encoded_media in assessment.encoded_media_list.all %}
                            <tr>
                                <td {% if not encoded_media.encoding_provider %}colspan='2'{% endif%}><i class='fa fa-film'></i> <a href="{% url 'webgui_media-read' encoded_media.id %}"><b>{{ encoded_media.name }}</b></a></td>
                                {% if encoded_media.encoding_provider %}
                                <td class='text-center'>
                                    {{ encoded_media.encoding_provider.name }}
                                </td>
                                {% endif %}
                                <td class='text-center'>
                                    {% if encoded_media.video_codec %}
                                    {{  encoded_media.video_codec }}
                                    {% else %}
                                    <i>Unknown</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if encoded_media.width and encoded_media.height %}
                                    {{ encoded_media.width }}x{{ encoded_media.height }}
                                    {% else %}
                                    <i>Unknown</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if encoded_media.average_bitrate %}
                                    {{ encoded_media.average_bitrate }}
                                    {% else %}
                                    <i>Unknown</i>
                                    {% endif %}
                                </td>
                                {% if metric_list.count > 0 %}
                                {% for metric in metric_list %}
                                <td class='text-center'>
                                     <input type="checkbox" class='select-one' name='{{ metric.name }}[]' id='{{ metric.name }}-media_{{ encoded_media.id }}' data-metric="{{ metric.name }}" value="{{ encoded_media.id }}"{% if assessment.reference_media is None %} disabled{% endif %}>
                                    {% for task in task_list %}
                                        {% if task.metric == metric and task.media == encoded_media %}
                                            {% if task.get_state_display == 'Queued' %}
                                            <a href="{% url 'webgui_task-read' task.id %}">
                                                <span class="label label-default"><i class="fa fa-clock-o"></i> {{ task.get_state_display }}</span>
                                            </a>
                                            {% elif task.get_state_display == 'Processing' %}
                                            <a href="{% url 'webgui_task-read' task.id %}">
                                                <span class="label label-default"><i class="fa fa-cog"></i> {{ task.get_state_display }}</span>
                                            </a>
                                            {% elif task.get_state_display == 'Aborted' %}
                                            <a href="{% url 'webgui_task-read' task.id %}">
                                                <span class="label label-warning"><i class="fa fa-times"></i> {{ task.get_state_display }}</span>
                                            </a>
                                            {% elif task.get_state_display == 'Error' %}
                                            <a href="{% url 'webgui_task-read' task.id %}">
                                                <span class="label label-danger"><i class="fa fa-warning"></i> {{ task.get_state_display }}</span>
                                            </a>
                                            {% elif task.get_state_display == 'Success' %}
                                            <a href="{% url 'webgui_task-read' task.id %}">
                                                <span class="label label-success">{{ task.average_score|floatformat:2 }}</span>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'webgui_task-read' task.id %}">
                                                <span class="label label-default">{{ task.get_state_display }}</span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %} 
                                </td>
                                {% endfor %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tfoot>
                            <tr class='active'>
                                <td colspan='5'></td>
                                <td {% if metric_list.count > 0 %}colspan='{{ metric_list.count }}' {% endif %}class='text-center'>
                                    <button type="submit" class="btn btn-primary btn-block"{% if assessment.reference_media is None %} disabled{% endif %}>Process</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>Reference</td>
            <td>
            {% if assessment.reference_media != None %}
            <a href="{% url 'webgui_media-read' assessment.reference_media.id %}">{{ assessment.reference_media.name }}</a>
            {% else %}
            <i>Undefined</i>
            {% endif %}
            </td>
        </tr>
        {% endif %}
        {% if task_list.count > 0 %}
        <tr>
            <td colspan='2'>
                <div class="panel panel-warning">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseAverageMetric" aria-expanded="false" aria-controls="collapseAverageMetric" style="cursor: pointer;">
                        <h3 class="panel-title"><i class='fa fa-bar-chart'></i> Average scores by metric</h3>
                    </div>
                    <div class="panel-body collapse" id="collapseAverageMetric">
                        <canvas id="averageMetricChart" style='min-width:100%;max-width:100%;min-height:450px;max-height:450px;'></canvas>
                    </div>
                </div>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}

    <script>
        $(document).ready(function(){

            // Toggle All CheckBoxes by Metric
            $('.select-all').click(function(event) {
                var metric = $(this).data('metric');
                if(this.checked) {
                    $(':checkbox[data-metric="'+metric+'"]').each(function() {
                        this.checked = true;
                    });
                }
                else {
                   $(':checkbox[data-metric="'+metric+'"]').each(function() {
                        this.checked = false;
                    });
                }
            });
            $('.select-one').click(function(event) {
                var metric = $(this).data('metric');
                if(!this.checked) {
                    $(':checkbox.select-all[data-metric="'+metric+'"]').each(function() {
                        this.checked = false;
                    });
                }
            });

        });
    </script>

    {% if task_list.count > 0 %}
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
    
    <script>
        var getcolor = function (num) {
            if (num%6 == 0)
                return "#F7464A";
            else if (num%6 == 1)
                return "#46BFBD";
            else if (num%6 == 2)
                return "#FDB45C";
            else if (num%6 == 3)
                return "#4674bf";
            else if (num%6 == 4)
                return "#949FB1";
            else if (num%6 == 5)
                return "#4D5360";
        };
        var gethighlight = function (num) {
            if (num%6 == 0)
                return "#FF5A5E";
            else if (num%6 == 1)
                return "#5AD3D1";
            else if (num%6 == 2)
                return "#FFC870";
            else if (num%6 == 3)
                return "#5a79d3";
            else if (num%6 == 4)
                return "#A8B3C5";
            else if (num%6 == 5)
                return "#616774";
        };
        var getfill = function (num) {
            if (num%6 == 0)
                return "rgba(255,90,94,0.08)";
            else if (num%6 == 1)
                return "rgba(90,211,209,0.08)";
            else if (num%6 == 2)
                return "rgba(255,200,112,0.08)";
            else if (num%6 == 3)
                return "rgba(90,121,211,0.08)";
            else if (num%6 == 4)
                return "rgba(168,179,197,0.08)";
            else if (num%6 == 5)
                return "rgba(97,103,116,0.08)";
        };

        var averageMetricCtx = document.getElementById("averageMetricChart");
        var averageMetricChart = new Chart(averageMetricCtx, {
            type: 'bar',
            data: {
                labels: [{% for encoded_media in assessment.encoded_media_list.all %}'{{ encoded_media.name }}',{% endfor %}],
                datasets: [
                {% for metric in metric_list %}
                {
                    label: '{{ metric.name }}',
                    yAxisID: "{{ metric.name }}",
                    backgroundColor: getcolor({{ metric.id }}),
                    data: [
                    {% for encoded_media in assessment.encoded_media_list.all %}
                        {% for task in task_list %}
                            {% if task.metric == metric and task.media == encoded_media %}
                                {% if task.average_score is None %}
                                    0,
                                {% else %}
                                    {{ task.average_score }},
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    ]
                },
                {% endfor %}
                ]
            },
            options: {
                responsive:true,
                maintainAspectRatio: false,
                tooltips: {
                    mode: 'index',
                    position: 'average',
                    intersect: false
                },
                scales: {
                    yAxes: [
                        {% for metric in metric_list %}
                        {
                            type: "linear", 
                            display: true,
                            {% if metric.id|divisibleby:2 %}
                            position: "left",
                            {% else %}
                            position: "right",
                            {% endif %}
                            id: "{{ metric.name }}",
                            scaleLabel: {
                                display: true,
                                labelString: '{{ metric.name }}'
                            },
                            {% if metric.name == "SSIM" %}
                            ticks: {
                                max: 1,
                                min: 0
                            },
                            {% elif metric.name == "PSNR" %}
                            ticks: {
                                min: 0
                            },
                            {% endif %}
                        },
                        {% endfor %}
                    ],
                },
                animation: {
                    duration: 0, // general animation time
                },
                hover: {
                    animationDuration: 250, // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0, // animation duration after a resize
            }
        });
    </script>
    {% endif %}

{% endblock %}
