{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ assessment.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}" class='active'>Assessments</a></li>
        <li><a href="{% url 'webgui_media-list' %}">Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui_task-list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
        <li><a href="{% url 'webgui_assessment-update' assessment.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
        <li><a href="{% url 'webgui_assessment-delete' assessment.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Project:</span> {{ assessment.name }}</h4>
{%if assessment.description %}
<table class='table'>
    <tbody>
        <tr>
            <td>{{ assessment.description }}</td>
        </tr>
    </tbody>
</table>
{% endif %}

        {% if assessment.encoded_media_list.count > 0 %}
                <form action="{% url 'webgui_task-create' %}" method="post">
                {% csrf_token %}
                    <input type='hidden' name='assessment_id' value='{{ assessment.id }}'/>
                    <input type='hidden' name='reference_media_id' value='{{ assessment.reference_media.id }}'/>
                    <table class='table table-hover table-condensed>
                        <thead>
                            <tr class='active'>
                                <th colspan='2'>
                                    {% if assessment.reference_media != None %}
                                    Reference: <a href="{% url 'webgui_media-read' assessment.reference_media.id %}">{{ assessment.reference_media.name }}</a>
                                    {% else %}
                                    <i><a href="{% url 'webgui_assessment-update' assessment.id %}"><i class='fa fa-pencil'></i> Edit assessment to set a reference media file</a></i>
                                    {% endif %}
                                </th>
                                <td class='text-center'>
                                    {% if  assessment.reference_media.video_codec %}
                                    {{  assessment.reference_media.video_codec }}
                                    {% else %}
                                    <i>Unknown video codec</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if  assessment.reference_media.width and  assessment.reference_media.height %}
                                    {{  assessment.reference_media.width }}x{{  assessment.reference_media.height }}
                                    {% else %}
                                    <i>Unknown video definition</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if  assessment.reference_media.average_bitrate %}
                                    {{  assessment.reference_media.average_bitrate }}
                                    {% else %}
                                    <i>Unknown average bitrate</i>
                                    {% endif %}
                                </td>
                                {% if metric_list.count > 0 %}
                                {% for metric in metric_list %}
                                <th class='text-center'>{{ metric.name }}</th>
                                {% endfor %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr class='active'>
                                <th colspan='5'>
                                    Encoded variants
                                </th>
                                {% if metric_list.count > 0 %}
                                {% for metric in metric_list %}
                                <th class='text-center'>
                                    <input type="checkbox" class='select-all' name='{{ metric.name }}-select-all' id='{{ metric.name }}-select-all' data-metric="{{ metric.name }}"{% if assessment.reference_media is None %} disabled data-toggle="tooltip" data-placement="left" title="Missing Reference"{% endif %}>
                                </th>
                                {% endfor %}
                                {% endif %}
                            </tr>
                            {% for encoded_media in assessment.encoded_media_list.all %}
                            <tr>
                                <td {% if not encoded_media.encoding_provider %}colspan='2'{% endif%}><a href="{% url 'webgui_media-read' encoded_media.id %}"><b>{{ encoded_media.name }}</b></a></td>
                                {% if encoded_media.encoding_provider %}
                                <td class='text-center'>
                                    <a href="{% url 'webgui_encoding-provider-read' encoded_media.encoding_provider.id %}">{{ encoded_media.encoding_provider.name }}</a>
                                </td>
                                {% endif %}
                                <td class='text-center'>
                                    {% if encoded_media.video_codec %}
                                    {{  encoded_media.video_codec }}
                                    {% else %}
                                    <i>Unknown</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if encoded_media.width and encoded_media.height %}
                                    {{ encoded_media.width }}x{{ encoded_media.height }}
                                    {% else %}
                                    <i>Unknown</i>
                                    {% endif %}
                                </td>
                                <td class='text-center'>
                                    {% if encoded_media.average_bitrate %}
                                    {{ encoded_media.average_bitrate }}
                                    {% else %}
                                    <i>Unknown</i>
                                    {% endif %}
                                </td>
                                {% if metric_list.count > 0 %}
                                {% for metric in metric_list %}
                                <td class='text-center'>
                                    {% assessment_media_tasktype_exists assessment encoded_media metric as task_exists %} 
                                    {% if task_exists %} 
                                        {% for task in task_list %}
                                            {% if task.media == encoded_media and task.type == metric%}
                                        
                                        {% if task.state == 1 %}
                                        <a href="{% url 'webgui_task-read' task.id %}">
                                            <span class="label label-primary">{{ task.get_state_display }}</span>
                                        </a>
                                        {% elif task.state == 2 %}
                                        <a href="{% url 'webgui_task-read' task.id %}">
                                            <span class="label label-success">{{ task.get_average_score|floatformat:3 }}</span>
                                        </a>
                                        {% elif task.state == 3 %}
                                        <a href="{% url 'webgui_task-read' task.id %}">
                                            <span class="label label-danger">{{ task.get_state_display }}</span>
                                        </a>
                                        {% elif task.state == 4 %}
                                        <a href="{% url 'webgui_task-read' task.id %}">
                                            <span class="label label-warning">{{ task.get_state_display }}</span>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'webgui_task-read' task.id %}">
                                            <span class="label label-default">{{ task.get_state_display }}</span>
                                        </a>
                                        {% endif %}

                                            {% endif %}
                                        {% endfor %}
                                    {% else %}                      
                                       <input type="checkbox" class='select-one' name='{{ metric.name }}[]' id='{{ metric.name }}-media_{{ encoded_media.id }}' data-metric="{{ metric.name }}" value="{{ encoded_media.id }}"{% if assessment.reference_media.width is None %} disabled data-toggle="tooltip" data-placement="left" title="Missing Reference"{% endif %} {% if encoded_media.width is None %} disabled data-toggle="tooltip" data-placement="left" title="Missing Probe Results"{% endif %}>
                                    {% endif %}                      
                                </td>
                                {% endfor %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        </tfoot>
                            <tr>
                                <td colspan='5'></td>
                                <td {% if metric_list.count > 0 %}colspan='{{ metric_list.count }}' {% endif %}class='text-center'>
                                    <button type="submit" class="btn btn-primary btn-block"{% if assessment.reference_media is None %} disabled data-toggle="tooltip" data-placement="left" title="Missing Reference"{% endif %}>Process</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
        {% else %}
        <table class='table'>
            <tbody>
                <tr>
                    <td>Reference</td>
                    <td>
                    {% if assessment.reference_media != None %}
                    <a href="{% url 'webgui_media-read' assessment.reference_media.id %}">{{ assessment.reference_media.name }}</a>
                    {% else %}
                    <i>Undefined</i>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        
        {% endif %}

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}

    <script>
        $(document).ready(function(){

            // Toggle All CheckBoxes by Metric
            $('.select-all').click(function(event) {
                var metric = $(this).data('metric');
                if(this.checked) {
                    $(':checkbox[data-metric="'+metric+'"]').each(function() {
                        if(!this.disabled){
                            this.checked = true;
                        }
                    });
                }
                else {
                   $(':checkbox[data-metric="'+metric+'"]').each(function() {
                        this.checked = false;
                    });
                }
            });
            $('.select-one').click(function(event) {
                var metric = $(this).data('metric');
                if(!this.checked) {
                    $(':checkbox.select-all[data-metric="'+metric+'"]').each(function() {
                        this.checked = false;
                    });
                }
            });

        });
    </script>
{% endblock %}
