{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Settings{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
        <li><a href="{% url 'webgui:app_settings_update' %}"><i class='fa fa-pencil'></i> Edit</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Settings:</span></h4>

<table class='table table-striped table-condensed table-bordered table-hover'>
	<thead>
        <tr>
            <th>Parameter</th>
            <th class='text-center'>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Task pulling interval</b></td>
            <td class='text-center'>
            	<input class="form-control" type="number" name="worker_pulling_interval" id="worker_pulling_interval" placeholder="Number" value="{{ app_settings.worker_pulling_interval }}" disabled/>
            </td>
            <td>in seconds</td>
        </tr>
        <tr>
            <td><b>Maximum number of parallel processing tasks</b></td>
            <td class='text-center'>
            	<input class="form-control" type="number" name="max_parallel_tasks" id="max_parallel_tasks" placeholder="Number" value="{{ app_settings.max_parallel_tasks }}" disabled/>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><b>Auto submit probe task on media creation</b></td>
            <td class='text-center'>
            	<input type="checkbox" id="auto_probe_media" name='auto_probe_media' {% if app_settings.auto_probe_media %} checked {% endif %} data-toggle="toggle" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" disabled>
        	</td>
            <td></td>
        </tr>
        <tr>
            <td><b>Auto submit bitrate analysis task on media creation</b></td>
            <td class='text-center'>
            	<input type="checkbox" id="auto_bitrate_analysis" name='auto_bitrate_analysis' {% if app_settings.auto_bitrate_analysis %} checked {% endif %} data-toggle="toggle" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" disabled>
        	</td>
            <td></td>
        </tr>
        <tr>
            <td><b>Auto generate thumbnail on media creation</b></td>
            <td class='text-center'>
                <input type="checkbox" id="auto_generate_thumbnail" name='auto_generate_thumbnail' {% if app_settings.auto_generate_thumbnail %} checked {% endif %} data-toggle="toggle" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" disabled>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
