{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Edit settings{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Edit:</span> Settings</h4>

<form action="{% url 'webgui:app_settings_update' %}" method="post" class="form-horizontal">
{% csrf_token %}

<table class='table table-striped table-condensed table-bordered table-hover'>
	<thead>
        <tr>
            <th>Parameter</th>
            <th class='text-center'>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Task pulling interval</b></td>
            <td class='text-center'>
            	<input class="form-control" type="number" name="worker_pulling_interval" id="worker_pulling_interval" placeholder="Number" value="{{ app_settings.worker_pulling_interval }}" required/>
            </td>
            <td>in seconds</td>
        </tr>
        <tr>
            <td><b>Maximum number of parallel processing tasks</b></td>
            <td class='text-center'>
            	<input class="form-control" type="number" name="max_parallel_tasks" id="max_parallel_tasks" placeholder="Number" value="{{ app_settings.max_parallel_tasks }}" required/>
        	</td>
            <td></td>
        </tr>
        <tr>
            <td><b>Auto submit probe task on media creation</b></td>
            <td class='text-center'>
            	<input type="checkbox" id="auto_probe_media" name='auto_probe_media' {% if app_settings.auto_probe_media %} checked {% endif %} data-toggle="toggle" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>">
            </td>
            <td></td>
        </tr>
        <tr>
            <td><b>Auto submit bitrate analysis task on media creation</b></td>
            <td class='text-center'>
            	<input type="checkbox" id="auto_bitrate_analysis" name='auto_bitrate_analysis' {% if app_settings.auto_bitrate_analysis %} checked {% endif %} data-toggle="toggle" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>">
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="form-group col-sm-7">
    <button type="submit" class="btn btn-default">Update</button>
</div>

</form>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
