{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ media.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}" class='active'>Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
        <li><a href="{% url 'webgui:media_update' media.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
        <li><a href="{% url 'webgui:media_delete' media.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Media:</span> {{ media.name }}</h4>

<table class='table table-striped'>
    <tbody>
        <tr>
            <td>File path</td>
            <td>{{ media.file.path }}</td>
        </tr>
        <tr>
            <td>Encoding provider</td>
            <td>
            {% if media.encoding_provider %}
            <a href="{% url 'webgui:encoding_provider_read' media.encoding_provider.id %}">{{ media.encoding_provider.name }}</a>
            {% else %}
            <i>Undefined</i>
            {% endif %}
            </td>
        </tr>
        {% if assessment_reference_list %}
        <tr>
            <td>Reference media for {{ assessment_reference_list|length }} assessment project(s)</td>
            <td>
            {% for assessment_reference in assessment_reference_list %}
            <a href="{% url 'webgui:assessment_read' assessment_reference.id %}">{{ assessment_reference.name }}</a><br>
            {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if bitrate_chart_data or probe %}
        {% if probe %}
        <tr>
            <td colspan="2">
                <div class="panel panel-info">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseProbe" aria-expanded="false" aria-controls="collapseProbe" style="cursor: pointer;">
                        <h3 class="panel-title"><i class='fa fa-flask'></i> Probe</h3>
                    </div>
                    <div class="panel-body collapse" id="collapseProbe">
                    {% autoescape off %}
                        {{ probe }}
                    {% endautoescape %}
                    </div>
                </div>
                {% endif %}
                {% if bitrate_chart_data %}
                <div class="panel panel-success">
                    <div class="panel-heading" data-toggle="collapse" href="#collapseBitrate" aria-expanded="false" aria-controls="collapseBitrate" style="cursor: pointer;">
                        <h3 class="panel-title"><i class='fa fa-bar-chart'></i> Bitrate and frame analysis</h3>
                    </div>
                    <div class="panel-body collapse" id="collapseBitrate">
                        <canvas id="bitrateChart" style='min-width:100%;max-width:100%;min-height:450px;max-height:450px;'></canvas>
                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}

    {% if bitrate_chart_data %}
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
    <script>
        var bitrateCtx = document.getElementById("bitrateChart");
        var bitrateChart = new Chart(bitrateCtx, {
            type: 'bar',
            data: {% autoescape off %}{{ bitrate_chart_data }}{% endautoescape %},
            options: {
                responsive:true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            callback: function(dataLabel, index) {
                                // Hide the label of every N dataset. return null to hide the grid line too
                                return index % 2 === 0 ? dataLabel : '';
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Frames'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Size (bytes)'
                        }
                    }]
                }
            }
        });
    </script>
    {% endif %}

{% endblock %}
