{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ media.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}" class='active'>Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
        <li><a href="{% url 'webgui:media_update' media.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
        <li><a href="{% url 'webgui:media_delete' media.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Media:</span> {{ media.name }}</h4>

<table class='table table-striped'>
    <tbody>
        <tr>
            <td>File path</td>
            <td>{{ media.file.path }}</td>
        </tr>
        <tr>
            <td>Encoding provider</td>
            <td>
            {% if media.encoding_provider %}
            <a href="{% url 'webgui:encoding_provider_read' media.encoding_provider.id %}">{{ media.encoding_provider.name }}</a>
            {% else %}
            <i>Undefined</i>
            {% endif %}
            </td>
        </tr>
        {% if assessment_reference_list %}
        <tr>
            <td>Reference media for {{ assessment_reference_list|length }} assessment project(s)</td>
            <td>
            {% for assessment_reference in assessment_reference_list %}
            <a href="{% url 'webgui:assessment_read' assessment_reference.id %}">{{ assessment_reference.name }}</a><br>
            {% endfor %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
{% endblock %}
