{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Tasks{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui_media-list' %}">Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui_task-list' %}" class='active'>Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4>
    <span class='info'>Task:</span> #{{ task.id }}<br>
    <span class="label label-default">{{ task.get_state_display }}</span>
</h4>

<table class='table table-striped table-condensed'>
    <thead>
        <tr>
            <th colspan='3'><i class='fa fa-exchange'></i> Relationships</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Type</b></td>
            <td><b>Assessment</b></td>
            <td><b>Media</b></td>
        </tr>
        <tr>
            <td>{{ task.type.name }}</td>
            <td>
                {% if task.assessment %}
                <a href="{% url 'webgui_assessment-read'  task.assessment.id %}">{{ task.assessment.name }}</a>
                {% else %}
                <i>None</i>
                {% endif %}
            </td>
            <td><a href="{% url 'webgui_media-read'  task.media.id %}">{{ task.media.name }}</a></td>
        </tr>
    </tbody>
</table>

<table class='table table-striped table-condensed'>
    <thead>
        <tr>
            <th colspan='3'><i class='fa fa-calendar'></i> Time informations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Created</b></td>
            <td><b>Last queued</b></td>
            <td><b>Process started</b></td>
            <td><b>Process ended</b></td>
        </tr>
        <tr>
            <td>{{ task.date_created }}</td>
            <td>{{ task.date_queued }}</td>
            <td>{{ task.date_started }}</td>
            <td>{{ task.date_ended }}</td>
        </tr>
    </tbody>
</table>

<table class='table table-striped table-condensed'>
    <thead>
        <tr>
            <th><i class='fa fa-terminal'></i> Task provider logs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ task.message }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
{% endblock %}
