{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: New assessment{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}" class='active'>Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}       

    <h4><span class='info'>New:</span> Assessment project</h4>
<form action="{% url 'webgui:assessment_create' %}" method="post" class="form-horizontal">
    {% csrf_token %}
    

    <div class="form-group col-sm-7">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Project name" required/>
    </div>

    <div class="form-group col-sm-7">
        <label for="description">Description</label>
        <textarea class="form-control" rows="2" type="text" name="description" id="description" placeholder="This assessment's goal is..."></textarea>
    </div>

    <div class="form-group col-sm-7">
        <label for="reference_media">Reference media</label>
        <select class="form-control selectpicker" data-live-search="true" name="reference_media" id="reference_media">
            <option value='None'>Undefined</option>
            {% if media_list %}
            {% for media in media_list %}
            <option value='{{ media.id }}'>{{ media.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
    
    <div class="form-group col-sm-7">
        <label for="encoded_media_list">Encoded media list</label>
        <select class="form-control selectpicker" data-live-search="true" name="encoded_media_list" id="encoded_media_list" multiple>
            {% if media_list %}
            {% for media in media_list %}
            <option value='{{ media.id }}'>{{ media.name }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
    
    <div class="form-group col-sm-7">
        <button type="submit" class="btn btn-default">Create</button>
    </div>

</form>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
{% endblock %}
