{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Delete assessment{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}" class='active'>Assessments</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="#">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href="{% url 'webgui:assessment_read' assessment.id %}">< Back</a></li>
    </ul>
{% endblock %}

{% block content %}       

    <h4><span class='danger'>Delete:</span> {{ assessment.name }}</h4>
    <p class='col-sm-7 danger'>
    - All metrics data associated will be lost.<br>
    - Imported media files will still exist as they can be associated with another assessment project.
    </p>
<form action="{% url 'webgui:assessment_delete' assessment.id %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="delete_id" id="delete_id" value="{{ assessment.id }}" required/>
    
    <div class="form-group col-sm-7">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="{% url 'webgui:assessment_read' assessment.id %}" class="btn btn-default">No</a>
    </div>

</form>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
{% endblock %}
