{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Assessments{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}" class='active'>Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href="{% url 'webgui:assessment_create' %}"><i class='fa fa-plus'></i> New</a></li>
    </ul>
{% endblock %}

{% block content %}       
    {% if assessment_list %}
        <table class='table datatable table-striped table-hover table-condensed' data-page-length='50'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class='text-right'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for assessment in assessment_list %}
            <tr>
                <td>
                    <a href="{% url 'webgui:assessment_read' assessment.id %}"><span class='objectName'>{{ assessment.name }}</span></a>
                </td>
                <td>
                    {% if assessment.description %}
                        {{ assessment.description }}
                    {% endif %}
                </td> 
                <td class='text-right'>
                    <ul class='actions'>
                        <li><a href="{% url 'webgui:assessment_read'  assessment.id %}"><i class='fa fa-eye'></i> View</a></li>
                        <li><a href="{% url 'webgui:assessment_update' assessment.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
                        <li><a href="{% url 'webgui:assessment_delete' assessment.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No assessment project to display.</p>
    {% endif %}

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.datatable').DataTable();
        }); 
    </script>
{% endblock %}