{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }} - assessments{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}" class='active'>Assessments</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href="{% url 'webgui:assessment_create' %}">Add project</a></li>
    </ul>
{% endblock %}

{% block content %}       
    {% if assessment_list %}
        <table class='table datatable table-striped table-hover table-condensed' data-page-length='50'>
        <thead>
            <tr>
                <th><i class='fa fa-info'></i>Name </th>
                <th><i class='fa fa-tag'></i> Description</th>
            </tr>
        </thead>
        <tbody>
            {% for assessment in assessment_list %}
            <tr>
                <td>
                    <a href="{% url 'webgui:assessment_read' assessment.id %}"><strong>{{ assessment.name }}</strong></a>
                </td>
                <td>
                     {% if assessment.description %}
                        {{ assessment.description }}
                    {% endif %}
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No assessment project to display.</p>
    {% endif %}

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('.datatable').DataTable();
        }); 
    </script>
{% endblock %}