{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ assessment.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}" class='active'>Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="#">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
        <li><a href="{% url 'webgui:assessment_update' assessment.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
        <li><a href="{% url 'webgui:assessment_delete' assessment.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Project:</span> {{ assessment.name }}</h4>

<table class='table table-striped'>
    <tbody>
        <tr>
            <td>Description</td>
            <td>{{ assessment.description }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
{% endblock %}
