body{
	font-family: "Source Sans Pro",Helvetica,sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color:#666;
}
a:link, a:visited{
	color:#666;
	text-decoration: none;
	transition: color .15s ease-out;
}
a:hover, a:focus{
	color:#3eaaaf;
	text-decoration: none;
}

a.warning:hover, a.warning:focus{
	color:#DB4437;
	text-decoration: none;
}
.info{
	color:#3eaaaf !important;
}
.danger{
	color:#db4545 !important;
}
.active{
	color:#3eaaaf !important;
}

h4{
	font-weight:600;
	letter-spacing:-1px;
	padding-left:0px;
	margin-bottom:20px;
}

header{
	width:100%;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	background:#f1f1f1;
}

header h1{
	width:20%;
	display:inline-block;
	position:absolute;
	top:0px;
	left:50px;
	margin-top:0px;
	letter-spacing:-1px;
}
header h1 a:link, header h1 a:visited{
	font-size:20px;
	color:#ccc;
	font-weight: 600;
	text-decoration: none;
	transition: color .2s ease-out;
}
header h1 a:hover, header h1 a:focus{
	font-size:20px;
	color:#aaa;
	font-weight: 600;
	text-decoration: none;
}

header nav{
	width:80%;
	position:absolute;
	top:0;
	left:160px;
}
header nav ul{
	width:100%;
	position:absolute;
	top:14px;
	left:0px;
	list-style-type: none;
}
header nav ul li{
	display:inline-block;
	float:left;
	margin-right:30px;
	font-size:16px;
	font-weight: 600;
	color:#666;
	letter-spacing:0px;
}


div#page{
	width:100%;
	margin-top:50px;
	position:relative;
}

div#options{
	width:100%;
	position:absolute;
	left:0;
	height: 30px;
	border-bottom:1px solid #eee;
}
div#options ul, ul.actions{
	height: 30px;
	margin-left:-8px;
	list-style-type: none;
}
div#options ul li, ul.actions li{
	display:inline-block;
	height:30px;
	line-height:30px;
	float:left;
	margin-right:30px;
	padding-left:5px;
	padding-right:5px;
	font-weight: 600;
}


div#content{
	width:96%;
	position:absolute;
	left:2%;
	top:40px;
}

ul.actions {
	height:auto;
}
ul.actions li{
	display:inline-block;
	padding:none;
	height:20px;
	float:none;
}

.objectName{
	font-size:18px;
}

a#settings_link{
	display:block;
	position: absolute;
	right:0;
	top:15px;
}