{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Delete task{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}" class='active'>Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}       

    <h4><span class='danger'>Delete:</span> {{ task.id }}</h4>
    <p class='col-sm-7 danger'>
    - All metrics and score data associated will be lost.<br>
    {% if task.output_data_path %}
    - This file will be deleted: {{ task.output_data_path }}
    {% endif %}
    {% if task.chart_labels_path %}
    - This file will be deleted: {{ task.chart_labels_path }}
    {% endif %}
    </p>
<form action="{% url 'webgui:task_delete' task.id %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="delete_id" id="delete_id" value="{{ task.id }}" required/>
    
    <div class="form-group col-sm-7">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a href="{% url 'webgui:task_read' task.id %}" class="btn btn-default">No</a>
    </div>
</form>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
{% endblock %}
