{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Tasks{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}" class='active'>Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li>
            <label class="checkbox-inline">
                <input type="checkbox" id="autorefresh" name='autorefresh' checked data-toggle="toggle" data-size="mini" data-on="<i class='fa fa-refresh'></i>" data-off="<i class='fa fa-times'></i>">
                Auto-refresh
            </label>
        </li>
    </ul>
{% endblock %}

{% block content %}       
    {% if task_list %}
        <table class='table datatable table-striped table-hover table-condensed' data-page-length='50'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Assessment</th>
                <th>Media</th>
                <th class='text-center'>State</th>
                <th class='text-right'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list %}
            <tr>
                <td>
                    <a href="{% url 'webgui:task_read'  task.id %}"><b>{{ task.id }}</b></a>
                </td>
                <td>
                    {{ task.metric.name }}
                </td>
                <td>
                    {% if task.assessment %}
                    <a href="{% url 'webgui:assessment_read'  task.assessment.id %}">{{ task.assessment.name }}</a>
                    {% else %}
                    <i>None</i>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'webgui:media_read'  task.media.id %}">{{ task.media.name }}</a>
                </td>
                <td class='text-center'>
                    {% if task.get_state_display == 'Queued' %}
                    <span class="label label-default"><i class="fa fa-clock-o"></i> {{ task.get_state_display }}</span>
                    {% elif task.get_state_display == 'Processing' %}
                    <span class="label label-default"><i class="fa fa-cog"></i> {{ task.get_state_display }}</span>
                    {% elif task.get_state_display == 'Aborted' %}
                    <span class="label label-warning"><i class="fa fa-times"></i> {{ task.get_state_display }}</span>
                    {% elif task.get_state_display == 'Error' %}
                    <span class="label label-danger"><i class="fa fa-warning"></i> {{ task.get_state_display }}</span>
                    {% elif task.get_state_display == 'Success' %}
                    <span class="label label-success"><i class="fa fa-check"></i> {{ task.get_state_display }}</span>
                    {% else %}
                    <span class="label label-default">{{ task.get_state_display }}</span>
                    {% endif %}
                </td>
                <td class='text-right'>
                    <ul class='actions'>
                        {% if task.state < 2 %}
                        <li><a href="{% url 'worker:task_abort'  task.id %}" class='warning'><i class='fa fa-times'></i> Abort</a></li>
                        {% elif task.state == 2 %}
                        <li><a href="{% url 'worker:task_retry'  task.id %}"><i class='fa fa-undo'></i> Redo</a></li>
                        {% elif task.state > 2 %}
                        <li><a href="{% url 'worker:task_retry'  task.id %}"><i class='fa fa-undo'></i> Retry</a></li>
                        {% else %}
                        <li></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No task to display.</p>
    {% endif %}

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.datatable').DataTable({
                "order": [[ 0, "desc" ]]
            });

            setInterval(function(){
                console.log($("#autorefresh").prop('checked'))
                if($("#autorefresh").prop('checked'))
                {
                    window.location.reload(1);
                }
            }, 5000);
        }); 
    </script>
{% endblock %}