{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Tasks{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}" class='active'>Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li>...</li>
    </ul>
{% endblock %}

{% block content %}       
    {% if task_list %}
        <table class='table datatable table-striped table-hover table-condensed' data-page-length='50'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Metric</th>
                <th>Assessment</th>
                <th>Media</th>
                <th>State</th>
                <th class='text-right'>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list %}
            <tr>
                <td>
                    {{ task.id }}
                </td>
                <td>
                    {{ task.metric.name }}
                </td>
                <td>
                    {% if task.assessment %}
                    <a href="{% url 'webgui:assessment_read'  task.assessment.id %}">{{ task.assessment.name }}</a>
                    {% else %}
                    <i>None</i>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'webgui:media_read'  task.media.id %}">{{ task.media.name }}</a>
                </td>
                <td>
                    {% if task.state < 2 %}
                    <span class="label label-default">
                    {% elif task.state > 2 %}
                    <span class="label label-danger">
                    {% elif task.state == 2 %}
                    <span class="label label-success">
                    {% else %}
                    <span class="label label-default">
                    {% endif %}
                    {{ task.get_state_display }}</span>
                </td>
                <td class='text-right'>
                    <ul class='actions'>
                        {% if task.state < 2 %}
                        <li><a href="{% url 'worker:task_abort'  task.id %}" class='warning'><i class='fa fa-times'></i> Abort</a></li>
                        {% elif task.state > 2 %}
                        <li><a href="{% url 'worker:task_retry'  task.id %}"><i class='fa fa-undo'></i> Retry</a></li>
                        {% else %}
                        <li></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No task to display.</p>
    {% endif %}

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.datatable').DataTable({
                "order": [[ 0, "desc" ]]
            });
        }); 
    </script>
{% endblock %}