{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Encoding providers{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}">Assessments</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}" class='active'>Encoding providers</a></li>
        <li><a href="#">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href="{% url 'webgui:encoding_provider_create' %}">New</a></li>
    </ul>
{% endblock %}

{% block content %}       
    {% if encoding_provider_list %}
        <table class='table datatable table-striped table-hover table-condensed' data-page-length='50'>
        <thead>
            <tr>
                <th><i class='fa fa-info'></i>Name </th>
            </tr>
        </thead>
        <tbody>
            {% for encoding_provider in encoding_provider_list %}
            <tr>
                <td>
                    <a href="{% url 'webgui:encoding_provider_read' encoding_provider.id %}"><strong>{{ encoding_provider.name }}</strong></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No encoding provider to display.</p>
    {% endif %}

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('.datatable').DataTable();
        }); 
    </script>
{% endblock %}