{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ encoding_provider.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui:assessment_list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui:media_list' %}">Media</a></li>
        <li><a href="{% url 'webgui:encoding_provider_list' %}" class='active'>Encoding providers</a></li>
        <li><a href="{% url 'webgui:task_list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
        <li><a href="{% url 'webgui:encoding_provider_update' encoding_provider.id %}"><i class='fa fa-pencil'></i> Edit</a></li>
        <li><a href="{% url 'webgui:encoding_provider_delete' encoding_provider.id %}" class='warning'><i class='fa fa-trash'></i> Delete</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Encoding provider:</span> {{ encoding_provider.name }}</h4>
{% if media_list %}
<table class='table table-striped'>
    <tbody>
        <tr>
            <td>{{ media_list|length }} associated media file(s)</td>
            <td>
            {% for media in media_list %}
                <a href="{% url 'webgui:media_read' media.id %}">{{ media.name }}</a><br>
            {% endfor %}
            </td>
        </tr>
        
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
{% endblock %}
