{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: {{ media.name }}{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui_media-list' %}" class='active'>Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui_task-list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Media:</span> {{ media.name }}</h4>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class='fa fa-bar-chart'></i> Bitrate and frame analysis</h3>
                    </div>
                    <div class="panel-body">
                        <canvas id="bitrateChart" style='min-width:100%;max-width:100%;min-height:450px;max-height:450px;'></canvas>
                    </div>
                </div>
{% endblock %}

{% block css_requirements %}
    {{ block.super }}
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        var bitrateCtx = document.getElementById("bitrateChart");
        var bitrateChart = new Chart(bitrateCtx, {
            type: 'bar',
            data: {% autoescape off %}{{ media.get_bitrate_json }}{% endautoescape %},
            options: {
                responsive:true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        display: true,
                        ticks: {
                            callback: function(dataLabel, index) {
                                // Hide the label of every N dataset. return null to hide the grid line too
                                return index % 2 === 0 ? dataLabel : '';
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Frames'
                        }
                    }],
                        yAxes: [{
                            type: "linear",
                            display: true,
                            position: "left",
                            scaleLabel: {
                                display: true,
                                labelString: 'Frame Packet Size (bytes)'
                            },
                            ticks: {
                                min: 0,
                            },
                            id: "packet",
                        }, {
                            type: "linear",
                            display: true,
                            position: "right",
                            scaleLabel: {
                                display: true,
                                labelString: 'Average bitrate (bits per seconds)'
                            },
                            ticks: {
                                min: 0
                            },
                            id: "average",
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }]
                },
                animation: {
                    duration: 0, // general animation time
                },
                hover: {
                    animationDuration: 250, // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0, // animation duration after a resize
            }
        });
    </script>
{% endblock %}
