{% extends "base.html" %}
{% load staticfiles %}

{% block tab_title %}{{ block.super }}: Edit settings{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'webgui_assessment-list' %}">Assessments</a></li>
        <li><a href="{% url 'webgui_media-list' %}">Media</a></li>
        <li><a href="{% url 'webgui_encoding-provider-list' %}">Encoding providers</a></li>
        <li><a href="{% url 'webgui_task-list' %}">Tasks</a></li>
    </ul>
{% endblock %}

{% block options %}
    <ul>
        <li><a href='#' onclick='goBack()'><i class='fa fa-caret-left'></i> Back</a></li>
    </ul>
{% endblock %}

{% block content %}       
<h4><span class='info'>Edit:</span> Settings</h4>

<form action="{% url 'webgui_app-settings-update' %}" method="post" class="form-horizontal">
{% csrf_token %}

<table class='table table-striped table-condensed table-bordered table-hover'>
	<thead>
        <tr>
            <th>Parameter</th>
            <th class='text-center'>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for metric in metric_list %}
        <tr>
            <td>Auto submit on new media <b>{{ metric.name }}</b></td>
            <td class='text-center'>
                    <input type="checkbox" name='{{ metric.id }}_auto_submit_on_new_media' {% if metric.auto_submit_on_new_media %} checked {% endif %} data-toggle="toggle" data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>"></td>
            <td>Queue a new task on new media creation</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="form-group col-sm-7">
    <button type="submit" class="btn btn-default">Update</button>
</div>

</form>

{% endblock %}

{% block css_requirements %}
    {{ block.super }}
    <link href="{% static 'bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_requirements %}
    {{ block.super }}
    <script src="{% static 'bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}
